.body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("/img/istockphoto-1409540606-612x612.jpg");
  height: 100%;
}
.container {
  padding: 20%;
  text-align: center;
  display: grid;
}
.buttons-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#wppButton {
  background-color: aquamarine;
  margin-right: 30px;
}
#wppButton:hover {
  background-color: rgba(127, 255, 212, 0.745);
  font-weight: 500;
}
.download-button {
}
#whatsappButton {
  text-decoration: none;
}
#whatsappButton > span {
  color: black;
}
#pucButton {
  color: black;
  text-decoration: none;
}
#btn-puc-div {
  margin: 10px;
}
#puc-button {
  background-color: aquamarine;
  margin-right: 30px;
}
#puc-button:hover {
  background-color: rgba(127, 255, 212, 0.745);
  font-weight: 500;
}
