.body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("/img/istockphoto-1409540606-612x612.jpg");
  height: 100%;
}
.container {
  padding: 20%;
  text-align: center;
  display: grid;
}
#wppButton {
  background-color: aquamarine;
}
#wppButton:hover {
  background-color: rgb(226, 203, 98);
}
#whatsappButton {
  text-decoration: none;
}
#whatsappButton > span {
  color: black;
}
#pucButton {
  color: black;
  text-decoration: none;
}
#btn-puc-div {
  margin: 10px;
}
#btnpuc {
  background-color: aquamarine;
}
#btnpuc:hover {
  background-color: rgb(5, 75, 26);
}
