.body {
  background-color: #111b21;
  height: 100%;
}
.container {
  padding: 5%;
  text-align: center;
  display: grid;
}
.carousel-inner {
  padding-bottom: 25%;
  height: 750px;
}
.carousel-control-prev-icon {
  width: 30%;
  margin-right: 100px;
}
.carousel-control-next-icon {
  width: 30%;
  margin-left: 100px;
}
.carousel-item {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.carousel-item img {
  height: 100%;
  object-fit: fill;
}
.buttons-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#wppButton {
  background-color: aquamarine;
  margin-right: 30px;
}
#wppButton:hover {
  background-color: rgba(127, 255, 212, 0.745);
  font-weight: 500;
}
#whatsappButton {
  text-decoration: none;
}
#whatsappButton > span {
  color: black;
}
#pucButton {
  color: black;
  text-decoration: none;
}
#btn-puc-div {
  margin: 10px;
}
#puc-button {
  background-color: aquamarine;
  margin-right: 30px;
}
#puc-button:hover {
  background-color: rgba(127, 255, 212, 0.745);
  font-weight: 500;
}
